//Cores utilizadas nas pages de autenticação
$color-primary: #0096FF;
$color-secundary: #ffff;
$color-primary-button: #0096FF;
$color-primary-link: #0096FF;
$color-primary-error: #C10015;
$color-primary-success: #21BA45;
$color-primary-title: #2c3e50;
//-------------------------------------------------


